<% layout('layouts/layout') -%>

<section class="col-xs-12">
	<article class="col-xs-6">
		<form action="/user/login" method="POST">
			<label>Username</label>
			<input name="username" type="text" class="form-control" />
			<label>Pasword</label>
			<input name="password" type="text" class="form-control" />
			<div class="text-right">
				<button class="btn btn-primary">Submit</button>
			</div>
		</form>
	</article>
</section>